<%= form_tag products_index_path, method: :get do %>
<%= text_field_tag :lookup, params[:lookup] %>
<%= submit_tag "Search", name: nil %>
<% end %>

<br> 
<br> 

<% if @items %> 
<div id="owl-demo" class="owl-carousel">
	<% @items.each do |item| %>
	<div class="item lazyOwl" data-toggle="modal" data-target="#myModal<%= item['id']%>"><img src=<%= item["thumbnail_url"]%>>
	</div> 
	<% end %>
</div>

<% @items.each do |item| %>
<div class="modal fade" id="myModal<%= item['id']%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel"><%= item['name'] %></h4>
			</div>
			<div class="modal-body">
				<% if item["user"]['last_name'] && item["user"]['first_name'] %>
				<div><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Artist:  <%= item["user"]['first_name'] %> <%= item["user"]['last_name'] %> </div>
				<% end %> 

				<% if item["user"]['home_country'] %>
				<div><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Artist's location:  <%= item["user"]['home_country'] %> </div>
				<% end %> 

				
				<% if item['num_favorites'] %>
				<div><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Number of favorites:   <%= item['num_favorites'] %> </div>
				<% end %> 

				<% if item['for_sale_as_wallpaper'] %> 
				<div><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> For sale as wallpaper </div>
				<% else %> 
				<div><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> For sale as wallpaper </div>
				<% end %> 

				<% if item['for_sale_as_decal'] %> 
				<div><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> For sale as decal </div>
				<% else %> 
				<div><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> For sale as decal </div>
				<% end %> 

				<% if item['for_sale_as_fabric'] %> 
				<div><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> For sale as fabric </div>
				<% else %> 
				<div><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> For sale as fabric </div>
				<% end %> 

				<% if item['for_sale_as_gift_wrap'] %> 
				<div><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> For sale as gift wrap</div>
				<% else %> 
				<div><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> For sale as gift wrap </div>
				<% end %> 
				<br> 

				<% if item['short_description']%> 
				<div><%= item['short_description'] %> </div>
				<br> 
				<% end %>

				<% if item['tags'] %> 
				<% item['tags'].each do |tag| %>  
				<a class="tag" href="index?lookup=<%=tag %>"> <%= tag %> </a>
				<% end %> 
				<% end %> 
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<% end %>

<% else %>
There are no images related to your search, please try another keyword. 
<% end %> 
